In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
engine = create_engine('postgresql+psycopg2://postgres://pshah:hello@localhost:5432/chaosmonkey')

In [5]:
df_logs = pd.read_sql_query('select * from "Logs"',con=engine)
df_Jobs = pd.read_sql_query('select * from "Jobs"',con=engine)

In [10]:
df.head(10)

,id,date,text,container
0,1,2020-04-09T19:23:33.002933200Z,root@10aaaf088359:/src# ps -aux\r,epic_meninsky
1,2,2020-04-09T19:23:33.457349700Z,USER PID %CPU %MEM VSZ RSS TTY ...,epic_meninsky
2,3,2020-04-09T19:23:33.473347000Z,root 1 0.0 0.0 2388 68 pts/0 ...,epic_meninsky
3,4,2020-04-09T19:23:33.488400200Z,root 8 0.0 0.1 5752 2536 pts/0 ...,epic_meninsky
4,5,2020-04-09T19:23:33.502257400Z,root 9 0.0 0.0 3848 84 ? ...,epic_meninsky
5,6,2020-04-09T19:23:33.502327800Z,root 16 29.4 0.0 3848 104 ? ...,epic_meninsky
6,7,2020-04-09T19:23:33.514862500Z,root 17 7.2 0.0 4752 1116 ? ...,epic_meninsky
7,8,2020-04-09T19:23:33.540694200Z,root 18 30.2 0.0 3848 104 ? ...,epic_meninsky
8,9,2020-04-09T19:23:33.541442400Z,root 19 7.0 0.0 4752 1116 ? ...,epic_meninsky
9,10,2020-04-09T19:23:33.552293000Z,root 20 31.3 0.0 3848 104 ? ...,epic_meninsky

In [11]:
df_Jobs.head(10)

   id                  start_time                    end_time stress_test
0   1  2020-04-09 19:32:36.616603  2020-04-09 19:33:39.767103         CPU